.btcpay-button {
  color: var(--btcpay-color-white);
  background-color: var(--btcpay-color-primary);
  padding: var(--btcpay-space-s) var(--btcpay-space-m);
  border-radius: var(--btcpay-border-radius);
  font-size: var(--btcpay-font-size-m);
  cursor: pointer;
}

.btcpay-button:focus,
.btcpay-button:hover {
  background-color: var(--btcpay-color-primary-accent);
}
