<!DOCTYPE html>
<html lang="en" class="<!-- uiengine:class -->" data-btcpay-theme="<!-- uiengine:theme -->">
  <head>
    <title><!-- uiengine:title --></title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="description" content="BTCPayServer Design System">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/styles/btcpayserver-variables.css" rel="stylesheet">
    <link href="/styles/btcpayserver-bootstrap.css" rel="stylesheet">
    <link href="/styles/btcpayserver-main.css" rel="stylesheet">
  </head>
  <body>
    <!-- uiengine:content -->
    <!-- uiengine:foot -->
    <link href="/styles/patternlib-overrides.css" rel="stylesheet">
  </body>
</html>
