*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

body {
  font-family: var(--btcpay-font-family-base);
  font-size: var(--btcpay-font-size-body, var(--btcpay-font-size-m));
  font-weight: var(--btcpay-font-weight-normal);
  line-height: 1.6;
  color: var(--btcpay-body-color);
  background-color: var(--btcpay-body-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--btcpay-font-family-monospace);
  border-radius: var(--btcpay-border-radius);
  padding: var(--btcpay-space-xs);
  color: var(--btcpay-code-color);
  background-color: var(--btcpay-code-bg);
}

pre {
  font-family: var(--btcpay-font-family-monospace);
  border-radius: var(--btcpay-border-radius);
  padding: var(--btcpay-space-m);
  color: var(--btcpay-pre-color);
  background-color: var(--btcpay-pre-bg);
}

pre code {
  color: var(--btcpay-color-white);
  background: transparent;
}

a {
  color: var(--btcpay-body-color-link);
}

a:focus,
a:hover {
  color: var(--btcpay-body-color-link-accent);
}
