.btcpay-space-xs {
  margin-bottom: var(--btcpay-space-xs);
}

.btcpay-space-s {
  margin-bottom: var(--btcpay-space-s);
}

.btcpay-space-m {
  margin-bottom: var(--btcpay-space-m);
}

.btcpay-space-l {
  margin-bottom: var(--btcpay-space-l);
}

.btcpay-space-xl {
  margin-bottom: var(--btcpay-space-xl);
}

.btcpay-space-xxl {
  margin-bottom: var(--btcpay-space-xxl);
}

/* Number spinners */
input[type=number].hide-number-spin {
  /* Firefox */
  -moz-appearance: textfield;

  /* Chrome, Safari, Edge, Opera */
  &:-webkit-outer-spin-button,
  &:-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* Bootstrap Responsive Helper */
html[data-devenv]:before {
  display: inline-block;
  position: fixed;
  z-index: 1000;
  right: 0;
  bottom: 0;
  background: var(--btcpay-bg-dark);
  color: var(--btcpay-color-dark-text);
  opacity: .7;
  padding: 4px 5px 3px 7px;
  font-size: 10px;
  border-top-left-radius: var(--btcpay-border-radius);

  @media (max-width: 575px) {
    content: 'XS';
  }
  @media (min-width: 576px) and (max-width: 767px) {
    content: 'SM';
  }

  @media (min-width: 768px) and (max-width: 991px) {
    content: 'MD';
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    content: 'LG';
  }

  @media (min-width: 1200px) {
    content: 'XL';
  }

  @media print {
    content: none;
  }
}
