<!--#include file="/header/variants/header.html" -->

<h1>Chancellor on Brink of Second Bailout for Banks</h1>
<h2>Billions may be needed as lending squeeze tightens</h2>
<p>Alistair Darling has been forced to consider a second bailout for banks as the lending drought worsens.</p>
<p>The Chancellor will decide within weeks whether to pump billions more into the economy as evidence mounts that the <code>£37 billion</code> part-nationalisation last year has failed to keep credit flowing. Options include cash injections, offering banks cheaper state guarantees to raise money privately or buying up “toxic assets”, The Times has learnt.</p>
<pre>const test = 123;</pre>
<p>The Bank of England revealed yesterday that, despite intense pressure, the banks curbed lending in the final quarter of last year and plan even tighter restrictions in the coming months. Its findings will alarm the Treasury.</pre>

<!--#include file="/footer/variants/footer.html" -->
