/* Bootstrap Responsive Helper */
html[data-devenv]:before {
    display: inline-block;
    position: fixed;
    z-index: 1000;
    right: 0;
    bottom: 0;
    background: var(--btcpay-bg-tile);
    color: var(--btcpay-secondary-text);
    opacity: .7;
    padding: 4px 5px 3px 7px;
    font-size: var(--btcpay-font-size-xs);
    font-family: var(--btcpay-font-family-monospace);
    border-top-left-radius: var(--btcpay-border-radius);
}

@media (max-width: 575px) { html[data-devenv]:before { content: 'XS'; } }
@media (min-width: 576px) and (max-width: 767px) { html[data-devenv]:before { content: 'SM'; } }
@media (min-width: 768px) and (max-width: 991px) { html[data-devenv]:before { content: 'MD'; } }
@media (min-width: 992px) and (max-width: 1199px) { html[data-devenv]:before { content: 'LG'; } }
@media (min-width: 1200px) and (max-width: 1399px) { html[data-devenv]:before { content: 'XL'; } }
@media (min-width: 1400px) { html[data-devenv]:before { content: 'XXL'; } }
@media print { html[data-devenv]:before { content: none; } }
