* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

body {
  font-family: var(--btcpay-font-family-base);
  font-size: var(--btcpay-font-size-m);
  font-weight: var(--btcpay-font-weight-normal);
  line-height: 1.6;
  color: var(--btcpay-color-neutral-900);
  background-color: var(--btcpay-color-neutral-100) ;

  @nest [data-btcpay-theme="dark"] & {
    color: var(--btcpay-color-white);
    background-color: var(--btcpay-color-neutral-900);
  }

  @media (prefers-color-scheme: dark) {
    @nest :root:not([data-btcpay-theme="light"]) & {
      color: var(--btcpay-color-white);
      background-color: var(--btcpay-color-neutral-900);
    }
  }
}

pre,
code {
  font-family: var(--btcpay-font-family-monospace);
  border-radius: var(--btcpay-border-radius);
}

a {
  color: var(--btcpay-color-primary);
}

a:focus,
a:hover {
  color: var(--btcpay-color-primary-accent);
}
