h1 {
  font-size: var(--btcpay-font-size-xxl);
  font-weight: var(--btcpay-font-weight-bold);
  line-height: 1.25;
  margin-bottom: var(--btcpay-space-m);
}

h2, h3, h4, h5 {
  font-weight: var(--btcpay-font-weight-semibold);
  line-height: 1.33;
  margin-bottom: var(--btcpay-space-m);
}

h2 {
  font-size: var(--btcpay-font-size-xl);
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5   {
  font-size: 24px;
}

h1, h2, h3, h4, h5 {
  & a {
    text-decoration: none;
  }
}
