:root {
  --btcpay-bg-tile: var(--btcpay-color-white);

  --btcpay-border-color-light: var(--btcpay-color-neutral-200);
  --btcpay-border-color-medium: var(--btcpay-color-neutral-300);
}

:root[data-btcpay-theme="dark"] {
  --btcpay-color-primary-backdrop: #389725;

  --btcpay-bg-tile: var(--btcpay-color-neutral-950);

  --btcpay-border-color-light: var(--btcpay-color-neutral-600);
  --btcpay-border-color-medium: var(--btcpay-color-neutral-700);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-btcpay-theme="light"]) {
    --btcpay-color-primary-backdrop: #389725;

    --btcpay-bg-tile: var(--btcpay-color-neutral-950);

    --btcpay-border-color-light: var(--btcpay-color-neutral-600);
    --btcpay-border-color-medium: var(--btcpay-color-neutral-700);
  }
}
