.btcpay-theme-switch {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--btcpay-space-m);
}

.btcpay-theme-switch-label {
    font-weight: var(--btcpay-font-weight-semibold);
}

.btcpay-theme-switch-themes {
    display: inline-flex;
    gap: var(--btcpay-space-m);
    align-items: center;
}

.btcpay-theme-switch-themes button {
    --icon-size: 1.25rem !important;
    background: none;
    padding: 0;
    border: 0;
    color: var(--btcpay-body-text-muted);
}

.btcpay-theme-switch-themes button:hover {
    color: var(--btcpay-body-link);
}

.btcpay-theme-switch-themes button svg {
    margin: 0 !important;
    width: var(--icon-size);
    height: var(--icon-size);
}

.btcpay-theme-switch:hover .btcpay-theme-switch-light,
.btcpay-theme-switch:hover .btcpay-theme-switch-dark {
    fill: currentColor;
}

:root:not([data-btcpay-theme]) .btcpay-theme-switch [data-theme="system"],
:root[data-btcpay-theme="light"] .btcpay-theme-switch [data-theme="light"],
:root[data-btcpay-theme="dark"] .btcpay-theme-switch [data-theme="dark"] {
    color: var(--btcpay-body-link);
}
