<div class="d-flex align-items-center">
  <input id="EnableTips" type="checkbox" class="btcpay-toggle me-3" data-bs-toggle="collapse"
    data-bs-target="#CustomTipsSettings" aria-expanded="false" aria-controls="CustomTipsSettings" />
  <label for="EnableTips" class="form-label mb-0">Enable tips</label>
</div>
<div class="collapse" id="CustomTipsSettings">
  <div class="form-group pt-3">
    <label id="CustomTipText" class="form-label" data-required>Custom tip text</label>
    <input for="CustomTipText" class="form-control" required />
  </div>
</div>
