.btcpay-pills {
    gap: var(--btcpay-space-m);
}
.btcpay-pills input {
    display: none;
}
.btcpay-pills label,
.btcpay-pill {
    display: inline-block;
    padding: var(--btcpay-space-s) 1.5rem;
    color: var(--btcpay-body-link);
    background: transparent;
    font-weight: var(--btcpay-font-weight-semibold);
    border: 1px solid var(--btcpay-secondary-border);
    cursor: pointer;
    border-radius: 5rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btcpay-pills input:not(:checked):not([disabled]) + label:hover,
.btcpay-pill:hover {
    color: var(--btcpay-body-link);
    border-color: var(--btcpay-secondary-border-hover);
    text-decoration: none;
}
.btcpay-pills input {
    display: none;
}
.btcpay-pills input:checked + label,
.btcpay-pill.active {
    color: var(--btcpay-body-text-active);
    background: var(--btcpay-body-bg-active);
    border-color: var(--btcpay-body-bg-active);
}
.btcpay-pills input[disabled] + label,
.btcpay-pill.disabled {
    color: var(--btcpay-body-text-muted) !important;
    background: transparent !important;
    border-color: var(--btcpay-secondary-border) !important;
    opacity: .5 !important;
}
