.btcpay-header {
  color: var(--btcpay-header-color);
  background-color: var(--btcpay-header-bg);

  & a {
    color: var(--btcpay-header-color-link);
    text-decoration: none;
  }

  & a:focus,
  & a:hover {
    color: var(--btcpay-header-color-link-accent);
  }
}
