.btcpay-status {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: .25em solid transparent;
  border-radius: 50%;
  width: 19px;
  height: 19px;
}
.btcpay-status:before {
  content: '';
  border-radius: 50%;
  width: 9px;
  height: 9px;
}
.btcpay-status--enabled {
  background-color: rgba(0, 182, 52, .3);
}
.btcpay-status--enabled:before {
  background-color: #00B634;
}
.btcpay-status--disabled {
  background-color: rgba(251, 56, 61, .3);
}
.btcpay-status--disabled:before {
  background-color: #FB383D;
}
