.btcpay-footer {
  color: var(--btcpay-color-neutral-400);
  background-color: var(--btcpay-brand-dark);

  @nest :root[data-btcpay-theme="dark"] & {
    color: var(--btcpay-color-neutral-600);
    background-color: var(--btcpay-color-neutral-950);
  }

  @media (prefers-color-scheme: dark) {
    @nest :root:not([data-btcpay-theme="light"]) & {
      color: var(--btcpay-color-neutral-600);
      background-color: var(--btcpay-color-neutral-950);
    }
  }
}
