.btcpay-footer {
  color: var(--btcpay-footer-color);
  background-color: var(--btcpay-footer-bg);

  & a {
    color: var(--btcpay-footer-color-link);
    text-decoration: none;
  }

  & a:focus,
  & a:hover {
    color: var(--btcpay-footer-color-link-accent);
  }
}

.btcpay-footer-columns {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  & > * {
    flex: 1 1 100%;
    margin-bottom: var(--btcpay-space-m);
  }

  & h4,
  & h5,
  & h6 {
    margin: var(--btcpay-space-m) 0;
    font-weight: var(--btcpay-font-weight-bold);
  }

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;

    & li {
      padding: var(--btcpay-space-xs) 0;
    }
  }
}

@media (min-width: 576px) {
  .btcpay-footer-columns {
    & > * {
      flex: 1;
    }

    & > * + * {
      margin-left: var(--btcpay-space-m);
    }
  }
}
