@import url('/styles/btcpayserver-variables.css');

/*
  You most likely want to configure the accent colors to fit your needs.
  For a full reference of available custom properties see this file:
  https://github.com/dennisreimann/uiengine/blob/master/packages/ui/src/styles/base/settings.styl
*/
:root {
  --uie-color-accent-ultralight: var(--btcpay-brand-secondary);
  --uie-color-accent-light: var(--btcpay-brand-secondary);
  --uie-color-accent-medium: var(--btcpay-brand-primary);
  --uie-color-accent-dark: var(--btcpay-brand-tertiary);
  --uie-color-accent-ultradark:var(--btcpay-neutral-50);

  --uie-color-neutral-0: var(--btcpay-white);
  --uie-color-neutral-10: var(--btcpay-neutral-100);
  --uie-color-neutral-20: var(--btcpay-neutral-200);
  --uie-color-neutral-30: var(--btcpay-neutral-300);
  --uie-color-neutral-50: var(--btcpay-neutral-500);
  --uie-color-neutral-70: var(--btcpay-neutral-700);
  --uie-color-neutral-80: var(--btcpay-neutral-800);
  --uie-color-neutral-90: var(--btcpay-neutral-900);
  --uie-color-neutral-100: var(--btcpay-black);

  --uie-color-topbar-bg: var(--btcpay-header-bg);
  --uie-color-topbar-text: var(--btcpay-header-text);
  --uie-color-topbar-text-hover: var(--btcpay-header-link-accent);
  --uie-color-topbar-border: var(--uie-color-topbar-bg);

  --uie-color-navigation-bg: var(--btcpay-body-bg);
  --uie-color-navigation-text: var(--btcpay-nav-link);
  --uie-color-navigation-text-hover: var(--btcpay-nav-link-accent);
  --uie-color-navigation-bg-current: var(--btcpay-nav-bg-active);
  --uie-color-navigation-text-current: var(--btcpay-nav-link-active);

  --uie-color-main-bg: var(--btcpay-body-bg);
  --uie-color-main-text: var(--btcpay-body-text);
  --uie-color-main-link: var(--btcpay-body-link);
  --uie-color-main-link-hover: var(--btcpay-body-link-accent);
  --uie-color-secondary-text: var(--btcpay-body-text-muted);
  --uie-color-secondary-link: var(--btcpay-body-text-muted);
  --uie-color-secondary-link-hover: var(--btcpay-body-link-hover);

  --uie-color-option-bg: var(--btcpay-body-bg);
  --uie-color-option-text: var(--btcpay-body-text);
  --uie-color-option-bg-hover: var(--btcpay-body-bg-hover);
  --uie-color-option-text-hover: var(--btcpay-body-text-hover);
  --uie-color-option-bg-current: var(--btcpay-body-bg-active);
  --uie-color-option-text-current: var(--btcpay-body-text-active);
  --uie-color-option-border: var(--btcpay-body-border-medium);

  --uie-color-code-bg: var(--btcpay-code-bg);
  --uie-color-code-border: transparent;

  --uie-color-preview-option-bg: var(--uie-color-main-bg);

  --uie-color-border-light: var(--btcpay-body-border-light);
  --uie-color-border-medium: var(--btcpay-body-border-medium);

  --uie-color-bg-light: var(--btcpay-body-bg-light);
  --uie-color-bg-medium: var(--btcpay-body-bg-medium);
  --uie-color-footer-bg: var(--btcpay-body-bg);
}

:root[data-theme="dark"],
:root[data-btcpay-theme="dark"] {
  --uie-color-border-dark: var(--btcpay-neutral-300);
  --uie-color-border-preview: var(--btcpay-neutral-50);
  --uie-color-bg-dark: var(--btcpay-neutral-300);
}

.uie-variant body {
  padding: 1rem;
}

.uie .layout {
  --topbar-height: 4rem;
  --navigation-width: 250px;
}

.uie .navigation {
  padding-left: 2rem;
  padding-right: 2rem;
}

.uie .hljs {
  color: var(--btcpay-pre-text);
  background: var(--btcpay-pre-bg);
}

.uie table th {
  background-color: transparent;
  border-top: 0;
}

.uie-icon-token__icon {
  background-color: var(--btcpay-bg-tile);
}

.uie-icon-token__icon svg {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--btcpay-body-text);
}
