<div class="btcpay-footer">
  <div class="btcpay-footer-columns">
    <div>
      <h6>Software</h6>
      <ul>
        <li><a href="https://docs.btcpayserver.org/">Introduction</a></li>
        <li><a href="https://docs.btcpayserver.org/btcpay-basics/usecase">Use Case</a></li>
        <li><a href="https://docs.btcpayserver.org/features/apps">Apps</a></li>
        <li><a href="https://docs.btcpayserver.org/deployment/deployment">Deployment</a></li>
        <li><a href="https://docs.btcpayserver.org/btcpay-basics/gettingstarted">Getting Started</a></li>
      </ul>
    </div>
    <div>
      <h6>Resources</h6>
      <ul>
        <li><a href="https://docs.btcpayserver.org/">Documentation</a></li>
        <li><a href="https://docs.btcpayserver.org/development">Development</a></li>
        <li><a href="https://github.com/btcpayserver/">GitHub</a></li>
        <li><a href="https://docs.btcpayserver.org/support-and-community/support">Support</a></li>
        <li><a href="https://docs.btcpayserver.org/faq-and-common-issues/faq">FAQ</a></li>
      </ul>
    </div>
    <div>
      <h6>Community</h6>
      <ul>
        <li><a href="https://blog.btcpayserver.org">Blog</a></li>
        <li><a href="https://chat.btcpayserver.org">Chat</a></li>
        <li><a href="https://directory.btcpayserver.org">Directory</a></li>
        <li><a href="https://docs.btcpayserver.org/support-and-community/contribute">Contribute</a></li>
        <li><a href="https://btcpayserver.org/donate/">Donate</a></li>
      </ul>
    </div>
  </div>
  <p>
    Content Released under MIT license.
    <br>
    This website does not use cookies nor collect personal data.
  </p>
</div>
